run/
/datasets/updated-dataset-m-f.yolo26/
.venv
.idea/
models/tensor_engine.engine
test_digit_crop.pt
/models/1280.engine
/models/1280.onnx
/models/ocr_model/*.safetensors
/models/ocr_model/*.bin
/models/ocr_model/*.pt
/models/ocr_model/*.pth
/models/ocr_model/*.onnx
__pycache__/
**/__pycache__/
*.pyc
*.pyo
output/*
data/config.ini
output/*
/models/ocr_model/chat_template.jinja
/models/ocr_model/config.json
/models/ocr_model/generation_config.json
/models/ocr_model/model.safetensors
/models/ocr_model/processor_config.json
/models/ocr_model/tokenizer.json
/models/ocr_model/tokenizer_config.json
/videos/*
