opencv-python~=4.13.0.90
numpy~=2.4.1
ultralytics~=8.4.7
future~=1.0.0
supervision~=0.27.0.post1
trackers~=2.2.0
torch>=2.2.0
transformers>=4.44.0
huggingface_hub>=0.24.0
pillow>=10.0.0
screeninfo~=0.8.1
